.sec1 {
    background-color: #1f2937;
}
.header, .content {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    gap: 150px;
}
.header {
    align-items: baseline;
}
.content {
    align-items: flex-start;
}
.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    /* padding: 10px; */
}
button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 700;
    padding: 10px 24px;
    border-radius: 8px;
}
.content_left {
    /* padding-bottom: 200px; */
}
#sec1title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding-bottom: 10px;
}
.sec_text {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 10px;
}