.sec1 {
    background-color: #1f2937;
}
.header, .content {
    display: flex;
}
.left {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}
.sec_text {
    font-size: 18px;
    color: #e5e7eb;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}